            *{}
#arquivos{
	margin:auto;
    float:left;
    width:100%;
	}
#pastas{
	margin:auto;
    float:left;
    width:100%;
	}
a   {
    min-height:96px;
    min-width:96px;
	max-width:96px;
    float:left;
    margin-left:4px;
    margin-right:4px;
    margin-bottom:4px;
    color: #fff;
    text-decoration: none;
    *text-shadow:2px 2px 2px black;
    text-align:center;
    word-wrap: break-word;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    }
a:hover{
    color: #fdfdfd;
    background: #555;
    }
.dir{
    background:#555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3gMKFAQzDG7i9QAAAQxJREFUWMPtlzFKQ0EURe+dzP8aLFVQEbQIWLsAV2CloI1bUFJZKDGFCDYpsocI2rgFC8HGQkQbXYRCkIDkj3MtREiqRH6SX/huN28u3PMY3oMBTP9d7D1cHG83CFYh+DGlBQjNvfPrw9+S67sX98cWDgCCJ3DQW/KXtd0TxHgUpXKu5hxBCVGDGDDVB6AY6xvraz5NklzNfXYz3D2+/kT8QV5S7nAAmE4TCIJzHOi9qu80Qzc+dd5nWyN978rywrDW6lv7o5Mm7a2RAqwuzQ/tXVmcm7m5f950hc0/CYF0RS8iAzAAAzAAAzCA4gFIhiyEiQdn2RdIBF8Czm4fXmqS/CQBSAaidGo/I9M34h9KntZQojEAAAAASUVORK5CYII=)
		90% 90% no-repeat;
    }
.dir:hover{
    color: #fdfdfd;
    background: #333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3gMKFAgHgW9ZTAAAAMZJREFUWMNjYBgFIx0wInOWVARnMDEydP9nYOChkWVf/jEwFMW0r50NE2NCU9FCK8sZGBgY/jMw8DD+Z2xDFmNCc6Ew7cP8vwhOBwwEGHUAy6sNDfv+MzA4oOcIUsHX7z8Zzt64x/Dr1x/SHPCfgcGRGj7h5mRnkBETZvj6/QdBta82Nob+Z/j/9y8TwxkWagankrQYcdnx//9VDAwMDMz/GF4PbBr4zyA6mgtGHTDqgFEHjDpg1AGjDhgUDtg5gPbvGO0bAgBt8y4aQkbiXwAAAABJRU5ErkJggg==)
		90% 90% no-repeat;
    }
.file{
    background:#555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3gMKFAUt73ru1wAAAZJJREFUWMPtlrFrwkAYxd/l4lUDcSoOLhGyCRWatVu37q30z2tpuxRK1079E0IptCAoRBBP41gQjJrrokUTo/Hi1SVvfHfH/e59fB9HEFGr1TrVNO0CAMOeYox9W5b1tc8ZPWpQSt8BnEFCuq7/+L7frFQqb2nPaBs8qcsXMoUQL5zzqywAmUQIMSilr5zz66MALHSiadpTGghVACCEsAXEzVEAViAeOefNowCsQDwMBoNb5QBhGCZCEELue71ec+ccyKLJZIIgCOD7PmazWWxOhWF4B+BZGQAACCFgmiY8z8N8Po8ul6QT6HQ66Pf7a161WoVt23BdF0EQLMcxHMdBrVZLgpADGI1GGA6Ha16hUIBt23AcJ7a/WCymgjhICTYlsISwLAvdbjcR4iAAmxL4K3qptBUiNQClNNFLSiAK4XlevEWjRrvdFqqG0ng8RqPRIFIJrL5yl+r1Osrlcsw3DEO+BNvqnEX/mkAmgDyBPAFVCSj/EeUAOYAMwKfCL/rHzjacTqeXjLFzFQCMMTfq/QLJ86YvQy5+6AAAAABJRU5ErkJggg==)
		90% 90% no-repeat;
    *background:#555;
	}
.file:hover{
    color: #fdfdfd;
    background: #333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3gMKFAo0DIla2AAAAOJJREFUWMPtlzEPgjAQhV9L041NmBlgYBA1YXPzhzs5EqPdSBj4A/4BaaITCVYCCi0m5t74csl9fddcWgZDZVmuOOd7ABJ2dddan9I0vXVNYVZ5nncEsIYDCSGuALZdj/fUOWkOAIyxjelx/FgEQAAEID4tLIoCdV2/eFEUIc9zKKWgtW6XDbIssw/QNujzvmk4GWBIiyQwpEUSCILgzQvDcHYCzDSqqnq4vPVxHLNJCXRPOaYkSeD7vt0RzJmzFQBKgBL42wToPUAABNAHoBz+DS+je6BpmoOUcucCQEp5Nr0nnBtPXcg1V/MAAAAASUVORK5CYII=)
		90% 90% no-repeat;;
    *background: #333;
	}
/****************/
body {
  height:100%;
  background:#4b4b4b;
  color:#eee8d5;
  font-family: Droid Sans, Arial, sans-serif;font-size:12px;
}            
